@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
body {
  font-family: 'utmavo'; }

ul.ed-ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a, a:hover {
  text-decoration: none;
  display: inline-block;
  transition: all .5s ease; }

@media screen and (max-width: 991px) {
  .container {
    width: 100%; } }
.page-content img {
  max-width: 100%; }

.flex-mid {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center; }

.padding-0 {
  padding: 0; }

.margin-0 {
  margin: 0; }

.pd-left-0 {
  padding-left: 0; }

.pd-right-0 {
  padding-right: 0; }

.mg-bottom-15 {
  margin-bottom: 15px; }

.flex-nowrap {
  display: flex;
  flex-wrap: wrap; }

.banner .item a {
  display: block; }
.banner .item img {
  width: 100%; }

.slider {
  width: 100%; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1; }

.slick-active {
  opacity: 1; }

.slick-current {
  opacity: 1; }

.ed-pagination {
  text-align: center;
  margin-bottom: 30px; }
  .ed-pagination ul li a, .ed-pagination ul li span {
    border-radius: 0% !important;
    margin: 0 4px;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    border: 0px solid #f8f8f8;
    transition: all .5s ease;
    background: #f7f7f7;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px; }
  .ed-pagination ul li.active a, .ed-pagination ul li.active span, .ed-pagination ul li:hover a, .ed-pagination ul li:hover span {
    border: 1px solid #ffc000;
    color: #fff !important;
    background: #ffc000 !important;
    border-radius: 3px;
    border: 0;
    text-decoration: none; }

.banner-page .regular1 .slick-slide {
  margin: 0; }
  .banner-page .regular1 .slick-slide .item1 .banner1 {
    position: relative; }
    .banner-page .regular1 .slick-slide .item1 .banner1 .txt-banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(113, 174, 202, 0.6);
      padding: 40px;
      text-align: center;
      border-radius: 30px;
      color: #fff;
      text-transform: uppercase;
      font-family: auto; }
      .banner-page .regular1 .slick-slide .item1 .banner1 .txt-banner > h4 {
        font-size: 32px;
        font-weight: bold; }
      .banner-page .regular1 .slick-slide .item1 .banner1 .txt-banner > h3 {
        font-size: 65px;
        font-weight: bold; }
      .banner-page .regular1 .slick-slide .item1 .banner1 .txt-banner > h5 {
        font-size: 36px;
        font-weight: bold; }

.title-page {
  text-align: center;
  margin: 40px 0 65px; }
  .title-page > h2 {
    margin: 0;
    color: #000;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.38);
    position: relative; }
    .title-page > h2:after {
      position: absolute;
      content: '';
      bottom: -25px;
      height: 9px;
      background: #000;
      width: 30%;
      margin: auto;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%); }

.option-1 {
  margin-top: -5px; }
  .option-1 .txt-right-op2 > h2 {
    text-transform: uppercase;
    margin: 0 0 40px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    padding: 0 20px; }
  .option-1 .txt-right-op2 .btn-khoahoc {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }
    .option-1 .txt-right-op2 .btn-khoahoc > li {
      display: inline-block; }
      .option-1 .txt-right-op2 .btn-khoahoc > li > a {
        display: inline-block;
        background-image: linear-gradient(#fdd400, #faa506);
        height: 50px;
        width: 200px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        color: #5353d2;
        font-weight: bold;
        border-radius: 5px;
        margin-right: 10px;
        border: 1px solid transparent; }
        .option-1 .txt-right-op2 .btn-khoahoc > li > a:hover {
          border: 1px solid #e8b238; }

.border-box {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background: #fff; }

.main {
  background: #bbb; }

.mb-50 {
  margin-bottom: 50px;
  margin: 0 0 50px 0;
  border: 1px solid #bbbbbb;
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.header {
  background: #000;
  border-radius: 0;
  padding: 10px 0; }
  .header nav {
    margin: 0;
    background: transparent;
    background-color: transparent; }
    .header nav .logo > a {
      max-width: 400px; }
      .header nav .logo > a > img {
        width: 100%; }
    .header nav .not-accout {
      text-align: right; }
      .header nav .not-accout ul {
        padding: 0;
        list-style: none;
        margin: 0; }
        .header nav .not-accout ul > li {
          display: inline-block; }
          .header nav .not-accout ul > li > a {
            color: #ffc000;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 20px; }
        .header nav .not-accout ul.login-regis > li:first-child:after {
          content: '/';
          color: #ffc000;
          font-weight: 900;
          font-size: 20px;
          margin: 0 3px 0 5px; }
        .header nav .not-accout ul.social {
          margin-top: 10px; }
          .header nav .not-accout ul.social > li > a {
            color: #fff;
            display: inline-block;
            background-image: linear-gradient(to right, #b3832c, #e8df57);
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            margin: 0 20px;
            font-size: 24px; }
    .header nav .have-account {
      display: none; }
      .header nav .have-account .name-user {
        float: left;
        display: table;
        padding: 0; }
        .header nav .have-account .name-user > li {
          color: #ffc000; }
          .header nav .have-account .name-user > li:first-child {
            list-style: none; }
          .header nav .have-account .name-user > li > h4 {
            font-weight: bold;
            text-transform: uppercase; }
          .header nav .have-account .name-user > li > p {
            margin-bottom: 0; }
          .header nav .have-account .name-user > li:last-child {
            list-style: none; }
          .header nav .have-account .name-user > li > a {
            display: inline-block;
            background: #ffc000;
            color: #000;
            width: 100%;
            text-align: center;
            padding: 6px 0;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 5px;
            border-radius: 5px; }
      .header nav .have-account .avartar-user {
        padding: 0;
        float: right; }
        .header nav .have-account .avartar-user > img {
          width: 100px;
          border-radius: 50%; }

footer {
  padding: 20px 0;
  text-align: center;
  background: #696969;
  color: #fff;
  margin-top: 50px; }
  footer > h2 {
    margin: 0; }

#top {
  z-index: 999999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 192, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#top:hover {
  background: rgba(255, 192, 0, 0.9); }

#top:hover i {
  color: #fff;
  top: 5px; }

.exam-page .menu-test {
  margin-bottom: 20px; }
  .exam-page .menu-test > ul {
    border-bottom: 0;
    text-align: center; }
    .exam-page .menu-test > ul > li {
      float: unset;
      display: inline-block;
      margin-bottom: 20px; }
      .exam-page .menu-test > ul > li > a {
        font-size: 16px;
        text-transform: uppercase;
        color: #ffc000;
        border: 2px solid #ffc000;
        border-radius: 5px;
        padding: 7px 20px;
        background: #404040;
        font-weight: bold; }
        .exam-page .menu-test > ul > li > a > i {
          margin-left: 10px;
          font-size: 22px; }
      .exam-page .menu-test > ul > li.active > a {
        background: #000;
        color: #ffc000;
        border: 2px solid #ffc000; }
.exam-page .down-pdf {
  background-image: linear-gradient(#7f7f7f, #d8d8d8);
  padding: 15px; }
  .exam-page .down-pdf > h4 {
    margin-top: 0; }
    .exam-page .down-pdf > h4 > a {
      font-weight: bold;
      color: #000;
      text-decoration: none; }
      .exam-page .down-pdf > h4 > a > i {
        transition: all .5s ease;
        transform: rotate(0); }
        .exam-page .down-pdf > h4 > a > i.rota90 {
          transform: rotate(-90deg); }
  .exam-page .down-pdf .box-download-pdf {
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    list-style: none;
    padding: 15px 20px 45px 15px; }
    .exam-page .down-pdf .box-download-pdf > li > a {
      color: #000;
      font-size: 18px;
      position: relative;
      padding-left: 40px;
      margin-bottom: 15px; }
      .exam-page .down-pdf .box-download-pdf > li > a:after {
        background: url(../images/index/pdf.png) no-repeat;
        width: 30px;
        height: 30px;
        content: '';
        position: absolute;
        background-size: cover;
        left: 0; }
.exam-page .title-answer {
  background-image: linear-gradient(#7f7f7f, #d8d8d8);
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .exam-page .title-answer > h4 {
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; }
.exam-page .box-answer {
  background: #fff;
  height: 633px;
  overflow-y: scroll;
  padding: 20px; }
  .exam-page .box-answer > ul {
    padding: 0;
    list-style: none; }
    .exam-page .box-answer > ul > li > h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px; }
.exam-page .box-full-answer {
  position: relative; }
  .exam-page .box-full-answer .btn-submit-exam {
    position: absolute;
    right: 40px;
    bottom: 10px; }
    .exam-page .box-full-answer .btn-submit-exam > a {
      background: #000;
      color: #ffc000;
      text-transform: uppercase;
      padding: 5px 15px;
      font-size: 16px;
      border: 2px solid #ffc000;
      border-radius: 5px;
      font-weight: bold; }

.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 5px; }

.ed-flex {
  display: flex;
  flex-wrap: wrap; }

/*# sourceMappingURL=main.css.map */
